SiMoka/Service References/MokaWS/ConsultazioneUIUWebServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://s3.webservices.sigmater.org/" name="ConsultazioneUIUWebServiceService" targetNamespace="http://s3.webservices.sigmater.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema targetNamespace="http://s3.webservices.sigmater.org/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="WebServiceException" type="tns:WebServiceException" />
      <xs:element name="caricaDettaglioUIU" type="tns:caricaDettaglioUIU" />
      <xs:element name="caricaDettaglioUIUResponse" type="tns:caricaDettaglioUIUResponse" />
      <xs:element name="creaDocumentoPdf" type="tns:creaDocumentoPdf" />
      <xs:element name="creaDocumentoPdfResponse" type="tns:creaDocumentoPdfResponse" />
      <xs:element name="eseguiRicercaPerIndirizzo" type="tns:eseguiRicercaPerIndirizzo" />
      <xs:element name="eseguiRicercaPerIndirizzoResponse" type="tns:eseguiRicercaPerIndirizzoResponse" />
      <xs:element name="eseguiRicercaStrada" type="tns:eseguiRicercaStrada" />
      <xs:element name="eseguiRicercaStradaResponse" type="tns:eseguiRicercaStradaResponse" />
      <xs:element name="eseguiRicercaUIU" type="tns:eseguiRicercaUIU" />
      <xs:element name="eseguiRicercaUIUResponse" type="tns:eseguiRicercaUIUResponse" />
      <xs:element name="immaginePlanimetria" type="tns:immaginePlanimetria" />
      <xs:element name="immaginePlanimetriaResponse" type="tns:immaginePlanimetriaResponse" />
      <xs:complexType name="eseguiRicercaUIU">
        <xs:sequence>
          <xs:element minOccurs="0" name="ricercaPerIdCat" type="tns:ricercaPerIdCat" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ricercaPerIdCat">
        <xs:sequence>
          <xs:element minOccurs="0" name="comune" type="tns:comune" />
          <xs:element name="currentPage" type="xs:int" />
          <xs:element minOccurs="0" name="dataFinale" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dataIniziale" type="xs:dateTime" />
          <xs:element minOccurs="0" name="denominatore" type="xs:int" />
          <xs:element minOccurs="0" name="edificialita" type="xs:unsignedShort" />
          <xs:element minOccurs="0" name="foglio" type="xs:string" />
          <xs:element minOccurs="0" name="idImmobile" type="xs:long" />
          <xs:element name="includiPlanimetrie" type="xs:boolean" />
          <xs:element minOccurs="0" name="numero" type="xs:string" />
          <xs:element minOccurs="0" name="sezione" type="xs:string" />
          <xs:element minOccurs="0" name="sezioneUrbana" type="xs:string" />
          <xs:element minOccurs="0" name="subalterno" type="xs:string" />
          <xs:element name="totalPages" type="xs:int" />
          <xs:element name="totalResults" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="comune">
        <xs:sequence>
          <xs:element minOccurs="0" name="codCom" type="xs:string" />
          <xs:element minOccurs="0" name="codProvIstat" type="xs:string" />
          <xs:element minOccurs="0" name="descrizione" type="xs:string" />
          <xs:element minOccurs="0" name="nome" type="xs:string" />
          <xs:element minOccurs="0" name="siglaProv" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="eseguiRicercaUIUResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:risultatoRicercaUiu" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="risultatoRicercaUiu">
        <xs:sequence>
          <xs:element minOccurs="0" name="comune" type="tns:comune" />
          <xs:element name="currentPage" type="xs:int" />
          <xs:element minOccurs="0" name="dataFinale" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dataIniziale" type="xs:dateTime" />
          <xs:element minOccurs="0" name="denominatore" type="xs:int" />
          <xs:element minOccurs="0" name="edificialita" type="xs:unsignedShort" />
          <xs:element minOccurs="0" name="foglio" type="xs:string" />
          <xs:element minOccurs="0" name="idImmobile" type="xs:long" />
          <xs:element minOccurs="0" name="numero" type="xs:string" />
          <xs:element minOccurs="0" name="periodoRiferimento" type="tns:periodoRiferimento" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="risultatoRicerca" nillable="true" type="tns:uiu" />
          <xs:element minOccurs="0" name="sezione" type="xs:string" />
          <xs:element minOccurs="0" name="sezioneUrbana" type="xs:string" />
          <xs:element minOccurs="0" name="subalterno" type="xs:string" />
          <xs:element name="totalPages" type="xs:int" />
          <xs:element name="totalResults" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="variazioniTitolarita" nillable="true" type="tns:variazioneTitolarita" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="periodoRiferimento">
        <xs:sequence>
          <xs:element minOccurs="0" name="dataFinale" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dataIniziale" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="uiu">
        <xs:sequence>
          <xs:element minOccurs="0" name="annoProtocollo" type="xs:int" />
          <xs:element minOccurs="0" name="annotaz" type="xs:string" />
          <xs:element minOccurs="0" name="annotazProtFn" type="xs:string" />
          <xs:element minOccurs="0" name="annotazProtIn" type="xs:string" />
          <xs:element minOccurs="0" name="categoria" type="tns:categoria" />
          <xs:element minOccurs="0" name="classe" type="xs:string" />
          <xs:element minOccurs="0" name="codCom" type="xs:string" />
          <xs:element minOccurs="0" name="consistenza" type="xs:float" />
          <xs:element minOccurs="0" name="dataNotifica" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dataProtFn" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dataProtIn" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="datiMetrici" nillable="true" type="tns:datiMetrici" />
          <xs:element minOccurs="0" name="denominatore" type="xs:int" />
          <xs:element minOccurs="0" name="edificialita" type="xs:string" />
          <xs:element minOccurs="0" name="edificio" type="xs:string" />
          <xs:element minOccurs="0" name="flagClassamento" type="xs:string" />
          <xs:element minOccurs="0" name="foglio" type="xs:string" />
          <xs:element minOccurs="0" name="idImmobile" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="indirizziCatastali" nillable="true" type="tns:indirizzoCat" />
          <xs:element minOccurs="0" name="interno1" type="xs:string" />
          <xs:element minOccurs="0" name="interno2" type="xs:string" />
          <xs:element minOccurs="0" name="lotto" type="xs:string" />
          <xs:element minOccurs="0" name="mutazioneFn" type="tns:mutazione" />
          <xs:element minOccurs="0" name="mutazioneIn" type="tns:mutazione" />
          <xs:element minOccurs="0" name="nomeCom" type="xs:string" />
          <xs:element minOccurs="0" name="numero" type="xs:string" />
          <xs:element minOccurs="0" name="partita" type="xs:string" />
          <xs:element minOccurs="0" name="piano1" type="xs:string" />
          <xs:element minOccurs="0" name="piano2" type="xs:string" />
          <xs:element minOccurs="0" name="piano3" type="xs:string" />
          <xs:element minOccurs="0" name="piano4" type="xs:string" />
          <xs:element minOccurs="0" name="planimetria" type="tns:planimetria" />
          <xs:element minOccurs="0" name="prog" type="xs:int" />
          <xs:element minOccurs="0" name="protIn" type="xs:int" />
          <xs:element minOccurs="0" name="protNotifica" type="xs:string" />
          <xs:element minOccurs="0" name="protUltimoAgg" type="xs:int" />
          <xs:element minOccurs="0" name="protocollo" type="xs:string" />
          <xs:element minOccurs="0" name="renditaDEEuro" type="xs:float" />
          <xs:element minOccurs="0" name="renditaDELire" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="renditeCatastali" nillable="true" type="tns:rendita" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="riserve" nillable="true" type="tns:riservaUrbana" />
          <xs:element minOccurs="0" name="scala" type="xs:string" />
          <xs:element minOccurs="0" name="sez" type="xs:string" />
          <xs:element minOccurs="0" name="sezUrbana" type="xs:string" />
          <xs:element minOccurs="0" name="siglaProv" type="xs:string" />
          <xs:element minOccurs="0" name="subalterno" type="xs:string" />
          <xs:element minOccurs="0" name="superficie" type="xs:int" />
          <xs:element minOccurs="0" name="tipoProtocollo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="uiuCollegate" nillable="true" type="tns:linkUiu" />
          <xs:element minOccurs="0" name="utilitaComuni" type="tns:utilitaComuniUiu" />
          <xs:element minOccurs="0" name="zonaCensuaria" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="categoria">
        <xs:sequence>
          <xs:element minOccurs="0" name="codCategoria" type="xs:string" />
          <xs:element minOccurs="0" name="descriz" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="datiMetrici">
        <xs:sequence>
          <xs:element minOccurs="0" name="altezza" type="xs:int" />
          <xs:element minOccurs="0" name="altezzaMax" type="xs:int" />
          <xs:element minOccurs="0" name="codCom" type="xs:string" />
          <xs:element minOccurs="0" name="idImmobile" type="xs:int" />
          <xs:element minOccurs="0" name="idPoligono" type="xs:int" />
          <xs:element minOccurs="0" name="prog" type="xs:int" />
          <xs:element minOccurs="0" name="protUltimoAgg" type="xs:int" />
          <xs:element minOccurs="0" name="sez" type="xs:string" />
          <xs:element minOccurs="0" name="superficieAmbiente" type="xs:int" />
          <xs:element minOccurs="0" name="tipoAmbiente" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="indirizzoCat">
        <xs:sequence>
          <xs:element minOccurs="0" name="civicoCat" type="xs:string" />
          <xs:element minOccurs="0" name="codCom" type="xs:string" />
          <xs:element minOccurs="0" name="codStradaCat" type="xs:int" />
          <xs:element minOccurs="0" name="codToponimoCat" type="xs:int" />
          <xs:element minOccurs="0" name="codToponimoCat1" type="xs:int" />
          <xs:element minOccurs="0" name="codToponimoCat2" type="xs:int" />
          <xs:element minOccurs="0" name="descriz1" type="xs:string" />
          <xs:element minOccurs="0" name="descriz2" type="xs:string" />
          <xs:element minOccurs="0" name="dizione" type="xs:string" />
          <xs:element minOccurs="0" name="idImmobile" type="xs:int" />
          <xs:element minOccurs="0" name="indirizzo" type="xs:string" />
          <xs:element minOccurs="0" name="prog" type="xs:int" />
          <xs:element minOccurs="0" name="sez" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mutazione">
        <xs:sequence>
          <xs:element minOccurs="0" name="annoNota" type="xs:int" />
          <xs:element minOccurs="0" name="codCausale" type="xs:string" />
          <xs:element minOccurs="0" name="codCom" type="xs:string" />
          <xs:element minOccurs="0" name="dataEfficacia" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dataRegistraz" type="xs:dateTime" />
          <xs:element minOccurs="0" name="descrCausale" type="xs:string" />
          <xs:element minOccurs="0" name="descrNota" type="xs:string" />
          <xs:element minOccurs="0" name="descriz" type="xs:string" />
          <xs:element minOccurs="0" name="idMutaz" type="xs:int" />
          <xs:element minOccurs="0" name="numNota" type="xs:string" />
          <xs:element minOccurs="0" name="progNota" type="xs:string" />
          <xs:element minOccurs="0" name="protUltimoAgg" type="xs:int" />
          <xs:element minOccurs="0" name="tipoNota" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="planimetria">
        <xs:sequence>
          <xs:element minOccurs="0" name="codCom" type="xs:string" />
          <xs:element minOccurs="0" name="dataPres" type="xs:dateTime" />
          <xs:element minOccurs="0" name="idImmobile" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="piantine" nillable="true" type="tns:piantina" />
          <xs:element minOccurs="0" name="prog" type="xs:int" />
          <xs:element minOccurs="0" name="protUltimoAgg" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="schede" nillable="true" type="tns:scheda" />
          <xs:element minOccurs="0" name="sez" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="piantina">
        <xs:sequence>
          <xs:element minOccurs="0" name="codCom" type="xs:string" />
          <xs:element minOccurs="0" name="idImmagine" type="xs:int" />
          <xs:element minOccurs="0" name="idImmobile" type="xs:int" />
          <xs:element minOccurs="0" name="idPiantina" type="xs:int" />
          <xs:element minOccurs="0" name="nomeFile" type="xs:string" />
          <xs:element minOccurs="0" name="prog" type="xs:int" />
          <xs:element minOccurs="0" name="protUltimoAgg" type="xs:int" />
          <xs:element minOccurs="0" name="sez" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="scheda">
        <xs:sequence>
          <xs:element minOccurs="0" name="codCom" type="xs:string" />
          <xs:element minOccurs="0" name="formato" type="xs:string" />
          <xs:element minOccurs="0" name="idImmobile" type="xs:int" />
          <xs:element minOccurs="0" name="idScheda" type="xs:int" />
          <xs:element minOccurs="0" name="prog" type="xs:int" />
          <xs:element minOccurs="0" name="protUltimoAgg" type="xs:int" />
          <xs:element minOccurs="0" name="scala" type="xs:int" />
          <xs:element minOccurs="0" name="sez" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="rendita">
        <xs:sequence>
          <xs:element minOccurs="0" name="finePeriodo" type="xs:dateTime" />
          <xs:element minOccurs="0" name="inizioPeriodo" type="xs:dateTime" />
          <xs:element name="renditaInEuro" type="xs:float" />
          <xs:element name="renditaInLire" type="xs:float" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="riservaUrbana">
        <xs:sequence>
          <xs:element minOccurs="0" name="codCom" type="xs:string" />
          <xs:element minOccurs="0" name="codRiserva" type="xs:string" />
          <xs:element minOccurs="0" name="descriz" type="xs:string" />
          <xs:element minOccurs="0" name="idImmobile" type="xs:int" />
          <xs:element minOccurs="0" name="partitaIscriz" type="xs:string" />
          <xs:element minOccurs="0" name="prog" type="xs:int" />
          <xs:element minOccurs="0" name="protUltimoAgg" type="xs:int" />
          <xs:element minOccurs="0" name="sez" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="linkUiu">
        <xs:sequence>
          <xs:element minOccurs="0" name="codCom" type="xs:string" />
          <xs:element minOccurs="0" name="foglio" type="xs:string" />
          <xs:element minOccurs="0" name="idImmobile" type="xs:int" />
          <xs:element minOccurs="0" name="numero" type="xs:string" />
          <xs:element minOccurs="0" name="sez" type="xs:string" />
          <xs:element minOccurs="0" name="subalterno" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="utilitaComuniUiu">
        <xs:sequence>
          <xs:element minOccurs="0" name="codCom" type="xs:string" />
          <xs:element minOccurs="0" name="denominatore" type="xs:string" />
          <xs:element minOccurs="0" name="foglio" type="xs:string" />
          <xs:element minOccurs="0" name="idImmobile" type="xs:int" />
          <xs:element minOccurs="0" name="numero" type="xs:string" />
          <xs:element minOccurs="0" name="prog" type="xs:int" />
          <xs:element minOccurs="0" name="protUltimoAgg" type="xs:int" />
          <xs:element minOccurs="0" name="sez" type="xs:string" />
          <xs:element minOccurs="0" name="sezUrbana" type="xs:string" />
          <xs:element minOccurs="0" name="subalterno" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="variazioneTitolarita">
        <xs:sequence>
          <xs:element name="cessate" type="xs:boolean" />
          <xs:element minOccurs="0" name="mutazioneFn" type="tns:mutazione" />
          <xs:element minOccurs="0" name="mutazioneIn" type="tns:mutazione" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="titolarita" nillable="true" type="tns:titolarita" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="titolarita">
        <xs:sequence>
          <xs:element minOccurs="0" name="codCom" type="xs:string" />
          <xs:element minOccurs="0" name="codDiritto1" type="xs:string" />
          <xs:element minOccurs="0" name="codDiritto2" type="xs:string" />
          <xs:element minOccurs="0" name="dataNotifica" type="xs:dateTime" />
          <xs:element minOccurs="0" name="diritto" type="xs:string" />
          <xs:element minOccurs="0" name="idImmobile" type="xs:int" />
          <xs:element minOccurs="0" name="idMutazFn" type="xs:int" />
          <xs:element minOccurs="0" name="idMutazIn" type="xs:int" />
          <xs:element minOccurs="0" name="idSoggetto" type="xs:int" />
          <xs:element minOccurs="0" name="idTitolarita" type="xs:int" />
          <xs:element minOccurs="0" name="mutazioneFn" type="tns:mutazione" />
          <xs:element minOccurs="0" name="mutazioneIn" type="tns:mutazione" />
          <xs:element minOccurs="0" name="partita" type="xs:string" />
          <xs:element minOccurs="0" name="protIn" type="xs:int" />
          <xs:element minOccurs="0" name="protNotifica" type="xs:string" />
          <xs:element minOccurs="0" name="protUltimoAgg" type="xs:int" />
          <xs:element minOccurs="0" name="quotaDenominatore" type="xs:int" />
          <xs:element minOccurs="0" name="quotaNumeratore" type="xs:int" />
          <xs:element minOccurs="0" name="regime" type="xs:string" />
          <xs:element minOccurs="0" name="sez" type="xs:string" />
          <xs:element minOccurs="0" name="soggetto" type="tns:soggetto" />
          <xs:element minOccurs="0" name="soggettoInComunione" type="tns:soggetto" />
          <xs:element minOccurs="0" name="soggettoRiferimento" type="xs:int" />
          <xs:element minOccurs="0" name="tipoImmobile" type="xs:string" />
          <xs:element minOccurs="0" name="tipoSoggetto" type="xs:string" />
          <xs:element minOccurs="0" name="titolaritaNonCodificata" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="soggetto">
        <xs:sequence>
          <xs:element minOccurs="0" name="cf" type="xs:string" />
          <xs:element minOccurs="0" name="codCom" type="xs:string" />
          <xs:element minOccurs="0" name="cognome" type="xs:string" />
          <xs:element minOccurs="0" name="comune" type="tns:comune" />
          <xs:element minOccurs="0" name="comuneNascita" type="tns:comune" />
          <xs:element minOccurs="0" name="comuneSede" type="tns:comune" />
          <xs:element minOccurs="0" name="dataNascita" type="xs:dateTime" />
          <xs:element minOccurs="0" name="denominaz" type="xs:string" />
          <xs:element minOccurs="0" name="idSoggetto" type="xs:int" />
          <xs:element minOccurs="0" name="nome" type="xs:string" />
          <xs:element minOccurs="0" name="partitaIva" type="xs:string" />
          <xs:element minOccurs="0" name="sesso" type="xs:string" />
          <xs:element minOccurs="0" name="tipoSoggetto" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WebServiceException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="eseguiRicercaStrada">
        <xs:sequence>
          <xs:element minOccurs="0" name="ricercaStrada" type="tns:ricercaStrada" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ricercaStrada">
        <xs:sequence>
          <xs:element minOccurs="0" name="codCom" type="xs:string" />
          <xs:element minOccurs="0" name="nome" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="risultatoRicerca" nillable="true" type="tns:strada" />
          <xs:element minOccurs="0" name="sez" type="xs:string" />
          <xs:element minOccurs="0" name="toponimo" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="strada">
        <xs:sequence>
          <xs:element minOccurs="0" name="codCom" type="xs:string" />
          <xs:element minOccurs="0" name="idParziale" type="xs:string" />
          <xs:element minOccurs="0" name="nome" type="xs:string" />
          <xs:element minOccurs="0" name="sez" type="xs:string" />
          <xs:element minOccurs="0" name="toponimo" type="xs:string" />
          <xs:element name="ufficiale" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="eseguiRicercaStradaResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:ricercaStrada" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="eseguiRicercaPerIndirizzo">
        <xs:sequence>
          <xs:element minOccurs="0" name="ricercaPerIndirizzo" type="tns:ricercaPerIndirizzo" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ricercaPerIndirizzo">
        <xs:sequence>
          <xs:element minOccurs="0" name="civico" type="xs:string" />
          <xs:element minOccurs="0" name="codCom" type="xs:string" />
          <xs:element name="currentPage" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="indirizzi" nillable="true" type="tns:indirizzo" />
          <xs:element minOccurs="0" name="sezione" type="xs:string" />
          <xs:element name="totalPages" type="xs:int" />
          <xs:element name="totalResults" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="indirizzo">
        <xs:sequence>
          <xs:element minOccurs="0" name="codStradaCat" type="xs:int" />
          <xs:element minOccurs="0" name="codToponimoCat" type="xs:int" />
          <xs:element minOccurs="0" name="indirizzo" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="eseguiRicercaPerIndirizzoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:risultatoRicercaUiu" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="caricaDettaglioUIU">
        <xs:sequence>
          <xs:element minOccurs="0" name="ricercaPerIdCat" type="tns:ricercaPerIdCat" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="caricaDettaglioUIUResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:dettaglioUiu" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dettaglioUiu">
        <xs:sequence>
          <xs:element minOccurs="0" name="comune" type="tns:comune" />
          <xs:element minOccurs="0" name="dataFinale" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dataIniziale" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dataUltimoAgg" type="xs:dateTime" />
          <xs:element minOccurs="0" name="denominatore" type="xs:int" />
          <xs:element minOccurs="0" name="edificialita" type="xs:unsignedShort" />
          <xs:element minOccurs="0" name="foglio" type="xs:string" />
          <xs:element minOccurs="0" name="idImmobile" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="mutazioniUiu" nillable="true" type="tns:uiu" />
          <xs:element minOccurs="0" name="numero" type="xs:string" />
          <xs:element minOccurs="0" name="periodoRiferimento" type="tns:periodoRiferimento" />
          <xs:element minOccurs="0" name="sezione" type="xs:string" />
          <xs:element minOccurs="0" name="sezioneUrbana" type="xs:string" />
          <xs:element minOccurs="0" name="subalterno" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="variazioniTitolarita" nillable="true" type="tns:variazioneTitolarita" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="immaginePlanimetria">
        <xs:sequence>
          <xs:element minOccurs="0" name="ricercaImmaginePlanimetria" type="tns:ricercaImmaginePlanimetria" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ricercaImmaginePlanimetria">
        <xs:sequence>
          <xs:element minOccurs="0" name="codCom" type="xs:string" />
          <xs:element minOccurs="0" name="formato" type="xs:string" />
          <xs:element minOccurs="0" name="idImmagine" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="immaginePlanimetriaResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="creaDocumentoPdf">
        <xs:sequence>
          <xs:element minOccurs="0" name="ricercaPerIdCat" type="tns:ricercaPerIdCat" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="creaDocumentoPdfResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="ConsultazioneUIUWebService_caricaDettaglioUIUResponse">
    <part name="caricaDettaglioUIUResponse" element="tns:caricaDettaglioUIUResponse" />
  </message>
  <message name="ConsultazioneUIUWebService_eseguiRicercaPerIndirizzo">
    <part name="eseguiRicercaPerIndirizzo" element="tns:eseguiRicercaPerIndirizzo" />
  </message>
  <message name="ConsultazioneUIUWebService_caricaDettaglioUIU">
    <part name="caricaDettaglioUIU" element="tns:caricaDettaglioUIU" />
  </message>
  <message name="ConsultazioneUIUWebService_creaDocumentoPdfResponse">
    <part name="creaDocumentoPdfResponse" element="tns:creaDocumentoPdfResponse" />
  </message>
  <message name="ConsultazioneUIUWebService_eseguiRicercaUIUResponse">
    <part name="eseguiRicercaUIUResponse" element="tns:eseguiRicercaUIUResponse" />
  </message>
  <message name="ConsultazioneUIUWebService_creaDocumentoPdf">
    <part name="creaDocumentoPdf" element="tns:creaDocumentoPdf" />
  </message>
  <message name="ConsultazioneUIUWebService_eseguiRicercaUIU">
    <part name="eseguiRicercaUIU" element="tns:eseguiRicercaUIU" />
  </message>
  <message name="ConsultazioneUIUWebService_eseguiRicercaPerIndirizzoResponse">
    <part name="eseguiRicercaPerIndirizzoResponse" element="tns:eseguiRicercaPerIndirizzoResponse" />
  </message>
  <message name="ConsultazioneUIUWebService_immaginePlanimetria">
    <part name="immaginePlanimetria" element="tns:immaginePlanimetria" />
  </message>
  <message name="ConsultazioneUIUWebService_immaginePlanimetriaResponse">
    <part name="immaginePlanimetriaResponse" element="tns:immaginePlanimetriaResponse" />
  </message>
  <message name="WebServiceException">
    <part name="WebServiceException" element="tns:WebServiceException" />
  </message>
  <message name="ConsultazioneUIUWebService_eseguiRicercaStradaResponse">
    <part name="eseguiRicercaStradaResponse" element="tns:eseguiRicercaStradaResponse" />
  </message>
  <message name="ConsultazioneUIUWebService_eseguiRicercaStrada">
    <part name="eseguiRicercaStrada" element="tns:eseguiRicercaStrada" />
  </message>
  <portType name="ConsultazioneUIUWebService">
    <operation name="caricaDettaglioUIU" parameterOrder="caricaDettaglioUIU">
      <input message="tns:ConsultazioneUIUWebService_caricaDettaglioUIU" />
      <output message="tns:ConsultazioneUIUWebService_caricaDettaglioUIUResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="creaDocumentoPdf" parameterOrder="creaDocumentoPdf">
      <input message="tns:ConsultazioneUIUWebService_creaDocumentoPdf" />
      <output message="tns:ConsultazioneUIUWebService_creaDocumentoPdfResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="eseguiRicercaPerIndirizzo" parameterOrder="eseguiRicercaPerIndirizzo">
      <input message="tns:ConsultazioneUIUWebService_eseguiRicercaPerIndirizzo" />
      <output message="tns:ConsultazioneUIUWebService_eseguiRicercaPerIndirizzoResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="eseguiRicercaStrada" parameterOrder="eseguiRicercaStrada">
      <input message="tns:ConsultazioneUIUWebService_eseguiRicercaStrada" />
      <output message="tns:ConsultazioneUIUWebService_eseguiRicercaStradaResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="eseguiRicercaUIU" parameterOrder="eseguiRicercaUIU">
      <input message="tns:ConsultazioneUIUWebService_eseguiRicercaUIU" />
      <output message="tns:ConsultazioneUIUWebService_eseguiRicercaUIUResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
    <operation name="immaginePlanimetria" parameterOrder="immaginePlanimetria">
      <input message="tns:ConsultazioneUIUWebService_immaginePlanimetria" />
      <output message="tns:ConsultazioneUIUWebService_immaginePlanimetriaResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
    </operation>
  </portType>
  <binding name="ConsultazioneUIUWebServiceBinding" type="tns:ConsultazioneUIUWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="caricaDettaglioUIU">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="creaDocumentoPdf">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="eseguiRicercaPerIndirizzo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="eseguiRicercaStrada">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="eseguiRicercaUIU">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="immaginePlanimetria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="ConsultazioneUIUWebServiceService">
    <port name="ConsultazioneUIUWebServicePort" binding="tns:ConsultazioneUIUWebServiceBinding">
      <soap:address location="http://sigmater.regione.liguria.it/sigmater/webservices/ConsultazioneUIU" />
    </port>
  </service>
</definitions>